
// Body
$body-bg: #EAE1D0;
$body-color: #393939;

$modal-content-bg: $body-bg;

$primary: $body-color;
$light:   #D4CCBD;

// Typography
$font-family-sans-serif: "sangbleu", sans-serif;
$font-size-base: 1.0rem;
$line-height-base: 1.6;

$headings-font-weight:        bold;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1900px
);

$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1140px,
        xxl: 1610px
);

// $border-radius:               .25rem;
$border-radius-lg:            .9rem;
// $border-radius-sm:            .2rem;
