$zoom-bg: #000;
$zoom-color: #D4CCBD;

.zoomviewer {
  overflow: hidden;

  .zoomviewer {
    height: calc(100% - 50px);
  }

  #viewer{
    height: 100%;
    min-height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background-color: $zoom-bg;
  }

  #toolbarDiv {
    position: absolute;
    right: 0px;
    top: 0px;
    margin: 20px;
    text-align: right;
    z-index: 1000000;
    a {
      display: inline-block;
      color: $zoom-color;
      font-size: 18px;
      background: $zoom-bg;
      opacity: 0.6;
      padding: 4px 7px 2px;
      margin-left: 5px;
      vertical-align: middle;
      &#home {display: none !important; }
      &:hover { opacity: 0.9; }
    }
  }

  .referencestrip {
    background: transparent !important;
    min-width: 50px !important;

    & > div {
      background: rgba(255, 255, 255, 0.8) !important;
      min-width: 50px !important;
      &:hover {
        background: rgba(255, 255, 255, 1.0) !important;
      }
      &.selected {
        // border: 1px solid @primary-color !important;
      }
    }
    & textarea {resize: none;}
  }

  /* position Image Reference Strip on right side of viewer */
  .openseadragon-container > .openseadragon-canvas + div {
    right: 20px !important;
    left: initial !important;
    top: 72px !important;
  }

  .currentpage, .credit {
    position: absolute;
    margin: 20px;
    padding: 10px;
    right: 0;
    bottom: 0;
    color: $zoom-color;
    background: $zoom-bg;
    /*font-weight: normal;*/
    vertical-align: bottom;
    opacity: 0.6;
    font-family: $font-family-sans-serif;
    /*text-transform: uppercase;*/
    letter-spacing: 2px;
    // font-size: @font-size-small;

    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
  }
  .currentpage:hover, .credit:hover{ opacity: 0.9; }
  .currentpage { right: 50%; width: 80px; margin-right: -40px; text-align: center; }
}

// @media(max-width: @screen-xs-max) {
//     .zoomviewer {
//         #toolbarDiv {
//           display: none !important;
//         }
//     }
// }



.bottom-panel {
  position: absolute;
  z-index: 100;
  bottom: 0;
  left: 0;
  width: 100%;
  // min-height: 100px;
  font-size: 0.9rem;
  overflow: hidden;
  color: $zoom-color;
}

.bg-overlay {
  // background-color: rgba( $body-bg, .7 );
  background-color: $zoom-bg;
}


a.btn-link {
  color: $zoom-color;
  font-weight: bold;
  font-style: italic;
  font-size: 1.5rem;
  vertical-align: middle;

  -webkit-transition: opacity .2s ease-in-out, color .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out, color .2s ease-in-out;
  transition: opacity .2s ease-in-out, color .2s ease-in-out;

  &:hover {
    text-decoration: none;
    // color: #fff;
    color: $zoom-color;
    opacity: 0.8;
  }

  img {
    vertical-align: middle;
    max-height: 100%;
  }
}

.top-right {
  position: absolute;
  right: 0px;
  top: 20px;
  z-index: 1000;
  a {
    color: $body-bg;
    font-weight: bold;
    opacity: 1.0;

    -webkit-transition: opacity .2s ease-in-out, color .2s ease-in-out;
    -moz-transition: opacity .2s ease-in-out, color .2s ease-in-out;
    transition: opacity .2s ease-in-out, color .2s ease-in-out;

    &:hover {
      text-decoration: none;
      color: $zoom-color;
      opacity: 0.8;
    }
  }
}